.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #333;
  font-weight: bold;
  font-size: 24px;
  transition: font-size 0.2s;
}

.navbar button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font: inherit;
}

.logo,
.nav-links a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.nav-links a {
  font-size: 1rem;
  transition: font-size 0.2s;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
}

.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0;
  font-size: 9px;
  min-width: 13px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 200px) {
  .nav-links a,
  .notification-wrapper {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 20px;
  }
  .nav-links a {
    font-size: 0.8rem;
  }
  .notification-icon {
    width: 20px;
    height: 20px;
  }
  .notification-count {
    font-size: 7px;
    min-width: 10px;
  }
}

@media (max-width: 800px) {
  .nav-links div {
    display: none;
  }
}
@media (min-width: 801px) {
  .nav-links div {
    display: block;
  }
}